:root {
	--htpm-primary: #3858e9;
	--htpm-primary-hover: #1a40ed;
	--htpm-danger: #dc3545;
	--htpm-danger-light: rgba(250, 207, 210, 0.4);
	--htpm-white: #ffffff;
	--htpm-heading: #1d2327;
	--htpm-heading-light: rgba(29, 35, 39, 0.5);
	--htpm-text: #4a4a4a;
	--htpm-help: #6D7175;
	--htpm-border: #8c8f94;
	--htpm-border2: #DCDCDC;
}
.toplevel_page_htpm-options {
    background: #f5f7fa;
}

.el-input input,.el-input input:focus,
.el-select__input-wrapper input,
.el-select__input-wrapper input:focus{
    border:none;
    outline: none;
    box-shadow: none;
    padding: 0;
    border-width: 0 !important;
    min-height: auto;
}
.el-notification{
top: 35px!important; 
z-index: 99999!important;
}
.el-message{
top: 32px !important;
}
.el-button>span {
    gap: 5px;
}
.htpm-admin-popup-inner .el-dialog__header {
    display: none !important;
}
.plugin-optimize-popconfirm {
    padding: 8px 12px 12px !important;
}
.plugin-settings-modal > .el-dialog__body {
    max-height: 551px;
    overflow-y: auto;
}
.plugin-settings-modal {
  max-width: 95%;
}


/* Header sidebar */
.htpm-sidebar-adds-area{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .htpm-opt-sidebar-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: self-start;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    padding: 0;
    background: #fff;
    border-radius: 12px;
    justify-content: left;
    flex-direction: column;
    overflow: hidden;
  }
  .htpm-opt-banner-image{
    line-height: 0;
  }
  .htpm-opt-banner-image img{
    width: 100%;
  }
  .htpm-opt-banner-image a{
    display: block;
    width: 100%;
  }
  .htpm-opt-get-pro-title {
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
    text-align: left;
    font-weight: 500;
  }
  .htpm-opt-get-pro-header {
    text-align: center;
    background-image: url(../images/sidebar-header-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    margin-bottom: 8px;
    padding: 31px 20px;
    border-radius: 12px;
    overflow: hidden;
    background-position: top center;
  }
  @media (min-width: 450px) and (max-width: 1199px) {
    .htpm-opt-get-pro-header{
        width: 100%;
    }
  }
  .htpm-opt-get-pro-header-title {
    font-size: 30px;
    line-height: 1.2;
    margin: 0;
    color: #000000;
  }
  .htpm-opt-get-pro-desc {
    font-size: 14px;
    line-height: 22px;
  }
  .htpm-opt-get-pro{
    gap: 10px;
    justify-content: center;
  }
  .htpm-opt-get-pro-content{
    padding: 0 30px 30px 30px;
  }
  .htpm-opt-get-pro ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 11px;
    font-size: 16px;
  }
  .htpm-opt-get-pro ul li {
    padding-left: 24px;
    background-image: url(../images/checked.png);
    background-repeat: no-repeat;
    background-position: top 4px left;
    font-size: 15px;
    color: #000000;
  }
  .htpm-opt-get-pro .upgrade-button {
    margin-top: 20px;
  }
  .upgrade-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    color: #f56c6c;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    border: 1.5px solid #f56c6c;
    box-shadow: none;
  }
  .upgrade-button svg path{
    fill: #f56c6c;
    transition: all 0.3s ease;
  }
  .upgrade-button:hover,.upgrade-button:focus {
    background: #3489FE;
    transform: none;
    box-shadow: none;
    border-color: #3489FE;
    color: #fff;
  }
  .upgrade-button:hover svg path,.upgrade-button:focus svg path{
    fill: #fff;
  }
  .htoption-rating-area {
    padding: 30px;
    background-image: url(../images/reating-sidebar-bg.png);
    background-position: top right;
    background-repeat: no-repeat;
  }
  .htpm-admin-pro-rating-bution {
    margin-top: 20px;
    padding: 12px 20px;
    border: 1px solid #000;
    border-radius: 6px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    width: max-content;
  }
  .htoption-rating-area .htoption-rating-icon {
    border: 1.5px solid #EBDCFF;
    padding: 7px;
    border-radius: 8px;
    display: flex;
  }
  .htoption-rating-area .htoption-rating-intro {
    display: flex;
    flex-direction: column;
}
  .htpm-rating-desc {
    font-size: 16px;
    line-height: 24px;
    color: #434343;
  }

  .htpm-admin-pro-rating-bution:hover,
  .htpm-admin-pro-rating-bution:focus,
  .htpm-admin-pro-rating-bution:active {
    background: #3489FE;
    color: #fff;
    border-color: #3489FE;
}

/* Settings page */
.htpm-inner-page-wrapper  {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
}